.inputbox{
    height: 40px;
    margin:10px;
    width:250px;
    border:solid 1px grey;
    border-radius:.3rem;
    font-size:20px;
    text-align: center;
}
.inputbox:focus{
    outline:none;
    background-color: rgba(102, 51, 153, 0.359);
}